form {
    display: flex;
    flex-direction: column;
    
}
.contact-page {
    max-width: 1800px;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: auto;
}
label {
    padding-top: 1em;
}
input {
    height: 2em;
}
button {
    margin-top: 2em;
    margin-bottom: 2em;
}
.textBox {
    width: 40em;
    height: 10em;
}